
.headerCSS{
    height: 30%;
    width: 100%;
    display: flex;
}

.headerLogo{
    background-color: #E0B973;
    color: #14274A;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Bacasime Antique', serif;
    font-weight: bold;
    width: 200px;
    height: 120px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 10%;
}

.headerH1{
    font-family: 'Merriweather';

   
}
.headerH2{
    font-family: 'Montserrat';
   
}

.headerNav{
    
    width: 80%;
    margin-left: 20%;
    align-items: center;
    display: flex;
    flex-direction: rows;
    
    
}

.headerUl{
    display: flex;
    flex-direction: rows;
    font-size: 30px;
    height: 120px;
    font-family: ;
}

.headerLi{
    font-size: 20px;
    font: bold;
    padding: 10%;
    color: #FFFFFF;


}

